<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

<!--导航条-->
<div th:insert="~{navigation :: nav}"></div>

<!--内容-->
<div class="container-fluid main profile">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span th:text="${selectionName}"></span></h2>
            <hr>
            <div th:if="${selection == 'questions'}"  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--循环展示每条信息-->
                <div class="media" th:each="question : ${questionList.data}">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:text="${question.title}" th:href="@{'/question/'+${question.id}}"></a>
                        </h4>
                        <span th:text="${question.description}"></span> <br>
                        <span class="text-desc">
                        <span th:text="${question.commentCount}"></span> 个回复
                        · <span th:text="${question.viewCount}"></span> 次浏览
                        · <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                            · <a th:href="@{'/publish/' + ${question.id}}" class="community-menu"
                                 th:if="${session.user != null && question.creator == session.user.id}">
                                <span class="glyphicon glyphicon-pencil">
                                </span>
                                编辑
                            </a>
                    </span>
                    </div>
                </div>
                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${questionList.showFirstPage}">
                            <a th:href="@{'/profile/' + ${selection}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList.showPrevious}">
                            <a th:href="@{'/profile/' + ${selection}(page=${questionList.page}-1)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${questionList.pages}"
                            th:class="${questionList.page == page} ? 'active' : ''">
                            <a th:text="${page}" th:href="@{'/profile/' + ${selection}(page=${page})}"></a>
                        </li>
                        <li th:if="${questionList.showNext}">
                            <a th:href="@{'/profile/' + ${selection}(page=${questionList.page}+1)}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${questionList.showEndPage}">
                            <a th:href="@{'/profile/' + ${selection}(page=${questionList.totalPage})}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div th:if="${selection == 'replies'}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--循环展示每条消息-->
                <div class="media" th:each="reply : ${notificationList.data}">
                    <span th:text="${reply.notifierName}"></span>
                    <span th:text="${reply.typeName}"></span>
                    <a th:href="@{'/notification/' + ${reply.id}}"><span th:text="${reply.outerTitle}"></span></a>
                    <span th:if="${reply.status == 0}" class="glyphicon glyphicon-asterisk unread-icon"></span>
                    <br>
                    <span th:text="${#dates.format(reply.gmtCreate,'yyyy-MM-dd HH:mm')}" class="notification-date"></span>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                </div>
                <!--分页-->
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${notificationList.showFirstPage}">
                            <a th:href="@{'/profile/' + ${selection}(page=${1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${notificationList.showPrevious}">
                            <a th:href="@{'/profile/' + ${selection}(page=${notificationList.page}-1)}"
                               aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${notificationList.pages}"
                            th:class="${notificationList.page == page} ? 'active' : ''">
                            <a th:text="${page}" th:href="@{'/profile/' + ${selection}(page=${page})}"></a>
                        </li>
                        <li th:if="${notificationList.showNext}">
                            <a th:href="@{'/profile/' + ${selection}(page=${notificationList.page}+1)}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${notificationList.showEndPage}">
                            <a th:href="@{'/profile/' + ${selection}(page=${notificationList.totalPage})}"
                               aria-label="Next">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group section">
                <a href="/profile/questions"
                   th:class="${selection=='questions'} ? 'list-group-item active' : 'list-group-item'">
                    我的问题
                    <span class="badge" th:text="${count}"></span>
                </a>
                <a href="/profile/replies"
                   th:class="${selection=='replies'} ? 'list-group-item active' : 'list-group-item'">
                    我的回复
                    <span class="badge" th:text="${notificationCount}"></span>
                </a>
            </div>
        </div>
    </div>
</div>

</body>
</html>